<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/estilosPrincipales.css">
    <link rel="stylesheet" href="../assets/styles/NavbarStyles.css">
    <link rel="stylesheet" href="../assets/styles/StyleForms.css">
    <link rel="icon" href="../assets/icons/School.ico">
        <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>

    <title>Colegio Grande - Notas</title>
</head>

<body>
    <img class="Icono hamburguesa" src="../assets/icons/menu.svg" alt="">
    <main>
        <div class="contenedorNav">
    <nav class="nav-bar ver  ">
        <ul class="menu">
           <a href="../index.html"> <li> <img src="../assets/icons/home 1.svg" alt="Icono Incio"> INICIO</li></a>
           <a href="alumnos.html"><li> <img src="../assets/icons/sombrero-de-graduacion 1.svg" alt="Icono Alumnos"> ALUMNOS</li></a>
            <a href="maestros.html"><li> <img src="../assets/icons/aula 1.svg" alt="Icono Maestros"> DOCENTES</li></a>
            <li>
                <a href="materias.html">
                    <img src="../assets/icons/libro 1.svg" alt="Icono Materias"> 
                    <span class="materias">MATERIAS</span>
                </a>
                <span class="abrirSubMenuResponsive"><img src="../assets/icons/caret-down.svg" alt="" class="flechaAbrirMenuResponsive"></span>
                <ul class="submenu">
                    <li><a href="asignar_materia_alumno.html"> Alumno</a></li>
                    <li><a href="asignar_materia_profesor.html"> Docente</a></li>
                </ul>
            </li>
            <a href="notas.html"><li> <img src="../assets/icons/los-grados 1.svg" alt="Icono Notas"> NOTAS</li></a>
            <a href="periodos.html"><li> <img src="../assets/icons/calendar.svg" alt="Icono Periodo"> PERIODOS</li></a>
            <a href="reportes.html"><li> <img src="../assets/icons/lista-de-verificacion 1.svg" alt="Icono Reportes"> REPORTES</li></a>
            </ul> 
    </nav>
   </div>
<div class="contenedorSection ver hidden">
    <section class="seccionTabla topTablaNota">
        <div class="encabezadoTabla">
            <h1 class="tituloTabla">Gestionar Notas</h1>
            <div>
                <input class="form-control col-md-6 light-table-filter" data-table="order-table" type="text"
                    placeholder="Buscar..." id="BuscarId">
            </div>
        </div>
        
                    <table class="tablaAlumnos" >
                        <thead class="theadNotas"></thead>
                        <tbody class="tbodyNotas">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

            </div>
    </main>
</body>

</html>
<script src="../assets/JavaScript/request.js"></script>
<script src="../assets/JavaScript/Notas.js"></script>
<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
<script src="../assets/JavaScript/funcionesExternas.js"></script>

<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
