<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/estilosPrincipales.css">
    <link rel="stylesheet" href="../assets/styles/reporte.css">

<link rel="icon" href="../assets/icons/School.ico">
    <title>Colegio Grande - Reporte Estudiante</title>
</head>
<body>
    
    <header>
        <h1>REPORTE FINAL</h1>
    </header>
    <main class="mainReporte">
    <section class="datosAlumno "> 
        <div class="nombreAlumnContent">
            <h3>Nombre completo del alumno:</h3>
            <p id="NombreEstudiante">NOMBRE COMPLETO</p>
        </div>
        <div>
            <h3>Identificación:</h3>
            <p id="identificacion">IDENTIFICACIÓN</p>
            <h3>Tipo de Documento:</h3>
            <p id="tipoDocumento">FF</p>
        </div>
    </section>
    <section class="SectionTablaReporte ver hidden">
        <table class="TablaReporte">
            <thead class="theadTabla">

            </thead>
            <tbody class="tbodyTabla">

            </tbody>
            
        </table>
        <button class="buttonImprimir" onclick="Imprimir()">Imprimir</button>
    </section>
    </main>
    <script src="../assets/JavaScript/request.js"></script>
    <script src="../assets/JavaScript/VerReporte.js"></script>
</body>
</html>