.nav-bar {
	background-color: #023859;
	margin: 0;
	height: 100%;
	width: 15%;
	position: fixed;
}
.nav-bar ul {
	padding: 25%;
	padding-top: 10px;
	margin-block-start: 0;
	margin-block-end: 0;
}
.nav-bar ul li {
	list-style: none;
	margin: 15px 0;
	width: 100%;
	font-size: 1.1vw;
}
.nav-bar ul li img {
	vertical-align: middle;
	margin-right: 2%;
	width: 60%;
	height: 40px;
}

.nav-bar a {
	text-decoration: none;
	color: #f2f2f2;
}
.nav-bar a :hover {
	border-bottom: 1px solid #f2f2f2;
}
.menu {
	display: flex;
	flex-direction: column;
	text-align: center;
}
.abrirSubMenuResponsive{
	display: none;
}
/* SUBMENU ASIGNAR MATERIAS */
.submenu {
	background: transparent;
	display: none;
}
.submenu li a {
	display: block;
}
.menu li:hover .submenu {
	display: block;
}
/* --------------------------------- */
.hamburguesa {
	display: none;
}
@media (max-width: 600px) {
	/* FUNCIONALIDAD HAMBURGUESA */

	.hamburguesa {
		display: block;
		width: 8%;
		height: 10%;
		z-index: 3;
	}
	.ver {
		display: none;
	}
	.hidden {
		display: block;
	}
	/* ------------------------ */
	.contenedorNav {
		width: 100%;
	}
	.nav-bar {
		width: 100%;
		position: static;
	}
	.nav-bar ul li {
		font-size: 1.1rem;
	}
	.menu {
		align-items: center;
	}

	.abrirSubMenuResponsive{
		display: initial;
	}
	.flechaAbrirMenuResponsive{
		width: 20px !important;
		margin: 0;
		margin-left: 5px;
	}
	.materias{
		margin-left: 15%;
	}
}
